@dir: 						    	"../images/";
@dir-fonts: 				  		"../fonts/";

@html-size-base: 					10px;

@fs: 						      	1.6rem;
@fss: 						    	1.4rem;
@fsb: 						    	1.8rem;
@h1: 						      	5rem;
@h2: 						      	4rem;
@h3: 						      	3rem;
@h4: 						      	2.5rem;
@h5: 						      	2rem;
@h6: 						      	1.8rem;

@lh: 						      	1;

@ff1: 								'Ubuntu', sans-serif;

@grey: 								#394551;
@grey2: 							#34516f;
@grey3: 							#e3e6e9;
@blue: 								#0a7be2;
@red: 								#e4513f;

@text-color: 						@grey;
@text-margin: 						0 0 1rem;

@mobile:      ~"only screen and (min-width: 320px)";
@tablet:      ~"only screen and (min-width: 768px)";
@desktop:     ~"only screen and (min-width: 992px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";

